.header
	width: 100%
	
.menu
	padding-top: 31px
	display: flex
	justify-content: space-between
	align-items: center
	&__logo
		width: 15%
		display: flex
		align-items: center
	&__nav
		width: 40%
		display: flex
		justify-content: space-between
		align-items: center

.nav__item
	color: $grey
	font-family: Poppins
	font-size: 16px
	font-style: normal
	font-weight: 500
	line-height: normal
	transition: color .3s
	&:hover
		color: $orange	

.logo__name
	margin-left: 15px
	color: $white
	font-family: "Poppins"
	font-size: 22px
	font-style: normal
	font-weight: 600
	line-height: normal
		
.button
	&--transperent
		background-color: $black
		color: $grey
		font-family: 'Poppins'
		font-size: 16px
		font-style: normal
		font-weight: 600
		line-height: normal
		cursor: pointer
		transition: color .3s
		&:hover
			color: $orange
	&--primary
		background-color: $orange
		color: $white
		font-family: 'Poppins'
		font-size: 16px
		font-style: normal
		font-weight: 600
		line-height: normal
		cursor: pointer
		transition: border-radius 0.3s
		&:hover
			border-radius: 0

