.popularTools
	&__title
		margin-top: 200px
		width: 100%
		color: $white
		text-align: center
		font-family: 'Poppins'
		font-size: 48px
		font-style: normal
		font-weight: 500
		line-height: 130%
	&__subtitle
		margin: 0 auto
		width: 35%
		color: $grey
		text-align: center
		font-family: 'Poppins'
		font-size: 18px
		font-style: normal
		font-weight: 500
		line-height: 30px

	&__content
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		border: 1px solid red
		&__items
			margin: 90px 33px 10px
			border: 1px solid green
			width: 30%
			display: flex
			flex-wrap: wrap

.items
	width: 100%
	&__logo
		width: 20%
		margin: 33px 10px 10px 10px 
	&__title
		width: 70%
		margin-top: 25px
		display: flex
		flex-direction: column
		color: rgba(255, 255, 255, 0.78)
		font-family: 'Poppins'
		font-size: 24px
		font-style: normal
		font-weight: 500
		line-height: normal
		text-transform: uppercase
	&__subtitle
		color: rgba(255, 165, 55, 0.55)
		font-family: 'Poppins'
		font-size: 18px
		font-style: normal
		font-weight: 400
		line-height: normal
		text-transform: none
	&__text
		margin-left: 20px
		width: 100%
		color: rgba(255, 255, 255, 0.55)
		font-family: 'Poppins'
		font-size: 16px
		font-style: normal
		font-weight: 400
		line-height: 30px